body {
    font-family: 'Roboto';
}

html {
    font-family: Rubik, sans-serif;
}

.cs-navbar-container:not(.uk-navbar-transparent) {
    background: #fff;
    border-bottom: 1px solid #ededed;
    color: #fff;
}
.uk-navbar-container.open {
    background-color: #fff;
    -moz-box-shadow: rgba(29,29,31,0.07) 0 10px 60px;
    -webkit-box-shadow: rgba(29,29,31,0.07) 0 10px 60px;
    box-shadow: rgba(29,29,31,0.07) 0 10px 60px;
}
.uk-navbar-container {
    -moz-transition-property: box-shadow,background-color,padding;
    -o-transition-property: box-shadow,background-color,padding;
    -webkit-transition-property: box-shadow,background-color,padding;
    transition-property: box-shadow,background-color,padding;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
.uk-navbar-nav a {
    text-transform: capitalize !important;
}
.mobile-navigation {
    background-color: #fff;
    -moz-box-shadow: rgba(29,29,31,0.07) 0 10px 60px;
    -webkit-box-shadow: rgba(29,29,31,0.07) 0 10px 60px;
    box-shadow: rgba(29,29,31,0.07) 0 10px 60px;
    border-top: 1px solid #e8ebef;
    -moz-transition-property: box-shadow,background-color,padding;
    -o-transition-property: box-shadow,background-color,padding;
    -webkit-transition-property: box-shadow,background-color,padding;
    transition-property: box-shadow,background-color,padding;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    padding-bottom: 32px;
}
.mobile-navigation .mobile-nav {
    list-style: none;
    padding-left: 0px;
}
.mobile-nav li {
    padding: 17px 20px;
    border-bottom: 1px solid #e8ebef;
}

.mobile-nav li a {
    display: flex;
}

.mobile-nav li a:hover {
    text-decoration: none;
}

.mobile-nav li a span {
    flex: 1;
}

.mobile-nav li a span.after {
    padding-top: 7px;
}

.mobile-nav li a span.after svg {
    width: 6px;
    float: right;
}

.auth li a.login {
    color: #3e70ff !important;
    font-size: 12px !important;
    font-weight: 600;
    text-transform: uppercase !important;
}

.btn.signup-cta:hover {
    color: #fff;
}

/* HERO SECTION */

#hero .hero-text {
    padding-top: 100px;
}

.cs-hero-section {
    border-bottom: 1px solid #ededed;
}

.hero-text h1 {
    color: #494949;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

#hero .request-examples {
    width: 654px;
    padding-top: 36px;
    position: relative;
}

#hero .request-examples .request-example {
    width: 327px;
    z-index: 10;
    position: absolute;
    transform: rotate(-5deg);
    transition: transform 160ms;
    background: #fff;
    color: #666;
    box-shadow: 11px 13px 15px rgba(0,0,0,.08);
}

#hero .request-examples .request-example .startup-details {
    position: relative;
}

#hero .request-examples .request-example .startup-details .price {
    position: absolute;
    right: 10px;
    top: -10px;
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 13px;
}

#hero .request-examples .example-one.request-example .startup-details .price {
    border: 1px solid #0098ec;
    color: #fff;
    background: #0098ec;
}

#hero .request-examples .example-two.request-example .startup-details .price {
    border: 1px solid #e6375a;
    color: #fff;
    background: #e6375a;
}

#hero .request-examples .example-one.request-example:hover {
    transform: scale(1.05) rotate(-1deg);
    z-index: 11;
    transform: scale(1.05) rotate(-1deg);
    color: #fff;
}

#hero .request-examples .example-one.request-example:hover > .startup-details {
    background: #009af1;
}

#hero .request-examples .example-one.request-example:hover > .startup-details .price {
    border: 1px solid #0098ec;
    color: #0098ec;
    background: #fff;
}

#hero .request-examples .example-two.request-example:hover > .startup-details .price {
    border: 1px solid #e6375a;
    color: #e6375a;
    background: #fff;
}

#hero .request-examples .example-one.request-example:hover > .startup-details .full .startup-categories .category {
    color: #fff !important;
    background: #0099ef;
    border: 1.4px solid #fff !important;
}

#hero .request-examples .example-one.request-example:hover > .startup-details .full .actions .get-it {
    color: #0099ef !important;
    border: 1px solid #0099ef !important;
}


#hero .request-examples .example-two.request-example:hover {
    transform: scale(1.05) rotate(-1deg);
    z-index: 11;
    transform: scale(1.05) rotate(-1deg);
    color: #fff;
}

#hero .request-examples .example-two.request-example:hover > .startup-details {
    background: #e6375a;
    border: 1px solid #e6375a;
}

#hero .request-examples .example-two.request-example {
    right: 69px;
    z-index: 9;
    top: 102px;
    transform: rotate(7deg);
}

#hero .request-examples .example-two.request-example:hover > .startup-details .full .startup-categories .category {
    /* color: #e6375a !important;
    border: 1px solid #e6375a !important; */
    color: #fff !important;
    background: #e6375a;
    border: 1.4px solid #fff !important;
}

#hero .request-examples .example-two.request-example:hover > .startup-details .full .actions .get-it {
    color: #e6375a !important;
    border: 1px solid #e6375a !important;
}

#hero .track-analytics {
    width: 148px;
    margin-top: 64px;
    z-index: 8;
    position: absolute;
    background: #fff;
    padding: 10px;
    cursor: pointer;
    transform: rotate(-14deg);
    transition: transform 160ms;
    border-radius: 5px;
    margin-left: 68px;
    border: 1px solid #f1f1f1;
    box-shadow: 11px 13px 15px rgba(0,0,0,.08);
}

#hero .track-analytics:hover {
    transform: rotate(0deg);
    z-index: 13;
    border: 1px solid #2ECC40;
    color: #fff;
    background: #2ECC40;
}

#hero .track-analytics:hover > .track-title {
    color: #fff;
}

#hero .track-analytics:hover > .empty {
    background: #ffffff8c;
}

#hero .track-analytics .track-title {
    margin-top: 4px;
    font-weight: 600;
    font-size: 14px;
    color: #919191;
    display: block;
    letter-spacing: 1px;
}

#hero .track-analytics .empty {
    display: block;
    height: 8px;
    width: 128px;
    background: #eee;
}

#hero .track-analytics svg {
    width: 147px;
    height: inherit;
}


/* #hero .hero-text h2 {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 43px;
}

#hero .inner-cta h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 43px;
} */

#hero .tag {
    color: #768093;
    padding: 0px;
    font-weight: 200;
    max-width: 640px;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    line-height: 1.2em;
    font-size: 26px;
    line-height: 1.2em;
}

#hero .ctas {
    display: flex;
    margin-top: 18px;
}

#hero .ctas .btn {
    margin-bottom: 0;
}

#hero .ctas .btn:nth-child(1) {
    margin:0;
}

@media only screen and (max-width: 425px) {
    #hero {
        padding: -1px 30px 100px 30px;
    }
    #hero .inner-cta h2 {
        font-size: 29px;
    }
    #hero .inner-cta .tag {
        font-size: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #hero .inner-cta .ctas {
        display: block;
    }

    #hero .inner-cta .ctas .btn:nth-child(2) {
        width: 80%;
    }

    .btn-multi {
        margin: 0 12px 21px 12px;
    }
}

/** Buttons **/
.btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    vertical-align: auto;
    zoom:1;
    display: inline;
    text-align: center;
    padding: 15px 22px;
    line-height: 1em;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    color: #fff;
    background-color: #187feb;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2083fe),color-stop(100%, #1d7bf0));
    background: -moz-linear-gradient(#2083fe,#187feb);
    background: -webkit-linear-gradient(#2083fe#187feb);
    background: linear-gradient(#2083fe,#187feb);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: rgba(23,43,99,0.24) 0 7px 28px;
    -webkit-box-shadow: rgba(23,43,99,0.24) 0 7px 28px;
    box-shadow: rgba(23,43,99,0.24) 0 7px 28px;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-tap-highlight-color: transparent
}
.btn.signup-cta {
    text-decoration: none;
    font-size: 11px;
}

.btn:disabled {
    background: #8e8e8e;
}

.btn-small {
    padding: 10px 22px;
    font-size: 13px;
    font-weight: 500;
}

.btn-green {
    background: #5aac44;
    -moz-box-shadow: none;
    
    text-transform: capitalize;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-large {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    padding: 16px 20px;
}
.btn-multi {
    margin: 0 12px 30px 12px;
}
.btn-long {
    width: 100%;
}
.btn-outline {
    background: transparent;
    border: 1px solid #3e70ff;
    border-color: rgba(62,112,255,0.5);
    color: #3e70ff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-outline:hover {
    text-decoration: none;
}

#how-it-works {
    background: #f5f5f5;
    box-shadow: inset 0 0 10px #c7c7c7;
    width: 100%;
    padding-top: 55px;
    padding-bottom: 80px;
}

#how-it-works .icon-svg svg {
    width: 145px;
    max-height: 130px;
}

#how-it-works .what-it-does {
    padding: 10px;
    padding-bottom: 0px;
}

#how-it-works .what-it-does h4 {
    margin-bottom: 5px;
}

#how-it-works .explain p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300px;
    font-size: 13px;
}

#footer {
    width: 100%;
    background: #0f1017;
    padding-top: 40px;
    padding-bottom: 40px;
}

#login {
    width: 100%;
    padding-top: 71px;
    padding-bottom: 100px;
}

.authentication {
    display: flex;
    justify-content: center;
    align-items: center;
}

.authentication .card {
    width: 310px;
}

.authentication .card .uk-form-label {
    font-size: 13px;
    color: #929292;
}

.authentication .card .uk-input {
    border-radius: 4px;
    height: 37px;
}

.authentication .card .uk-input:focus {
    border: 1px solid #187feb;
}

.authentication .forgot-password a {
    font-size: 13px;
    color: #929292;
}

.authentication .terms {
    font-size: 12px;
}

.authentication .multi-select {
    border: 1px solid #187feb;
    color: #187feb;
    text-align: center;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    padding: 5px;
}

.authentication .multi-select:hover {
    border: 1px solid #187feb;
    background-color: #187feb;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2083fe),color-stop(100%, #1d7bf0));
    background: -moz-linear-gradient(#2083fe,#187feb);
    background: -webkit-linear-gradient(#2083fe#187feb);
    background: linear-gradient(#2083fe,#187feb);
    color: #fff;
}

.authentication .multi-select.selected {
    border: 1px solid #187feb;
    background: #187feb;
    color: #fff;
}

.me {
    width: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    color: #8e8c8c;
    font-size: 14px;
    border-right: none;
    border: 1px solid #e2dcdc;
    cursor: pointer;
    text-decoration: none;
    height: auto;
    border-radius: 8px 0px 0px;
    padding: 8px;
    background: #ffffff;
}
.me:hover {
    color: #8e8c8c;
    text-decoration: none;
}

#campaign {
    width: 100%;
    border-top: 1px solid #eee;
    padding: 40px 0px;
}

#campaign .heading h4 {
    font-size: 18px;
}

#campaign .campaigns {
    width: 100%;
}

#campaign .campaign-box {
    width: 100%;
    height: 90px;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2083fe),color-stop(100%, #1d7bf0));
    background: -moz-linear-gradient(#2083fe,#187feb);
    background: -webkit-linear-gradient(#2083fe#187feb);
    background: linear-gradient(#2083fe,#187feb);
    border-radius: 4px;
}

#campaign .campaign-box .overlay {
    display: none;
}

#campaign .campaign-box .overlay .actions {
    color: #fff;
    padding: 10px 10px;
}

#campaign .campaign-box .overlay .actions a:hover {
    color: #fff;
}

#campaign .campaign-box:hover > .overlay {
    display: block;
}

#campaign .campaign-box .campaign-title {
    padding: 10px 0px 0px 10px;
}

#campaign .campaign-box .impressions {
    padding: 27px 0px 0px 10px;
    font-weight: 300;
    font-family: 'Encode Sans', sans-serif;
}

#campaign .campaign-box.add {
    padding: 0px !important;
    background: #e2e4e6;
    color: #838c91;
    font-size: 14px;
    font-weight: 300;
}

#campaign .campaign-box.add .inner {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
}

#campaign #create-campaign {
    border-radius: 4px;
    padding: 10px;
    -moz-box-shadow: rgba(23,43,99,0.24) 0px 4px 6px;
    -webkit-box-shadow: rgba(23,43,99,0.24) 0px 4px 6px;
    box-shadow: rgba(23,43,99,0.24) 0px 4px 6px;
    border: 1px solid #d6dadc;
    height: 137px;
    background: #fff;
}

#campaign #create-campaign .heading {
    text-align: center;
    padding-bottom: 10px;
    font-size: 13px;
    border-bottom: 1px solid #d6dadc;
}

#campaign #create-campaign .heading .close {
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

#campaign #create-campaign .body {
    padding: 8px 0px;
}

#campaign #create-campaign .body .uk-form-label {
    font-weight: 600;
    font-size: 13px;
}

#campaign #create-campaign .body .uk-form-controls {
    margin-top: 4px;
}

#campaign #create-campaign .body .uk-input {
    border-radius: 4px;
    height: 32px;
    background: #eee;
}

#campaign #create-campaign .body .uk-input:focus {
    background: #fff;
}

#new-campaign {
    padding: 22px 0px;
}

#new-campaign .header {
    border-bottom: 1px solid #d6dadc;
    position: relative;
}

#new-campaign .header .uk-icon {
    top: 0;
    cursor: pointer;
    position: absolute;
}

#new-campaign .header .title {
    margin-top: 0;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
    color: #6e6c6c;
}

#new-campaign .header .subtitle {
    font-size: 13px;
    margin-bottom: 11px;
}

#new-campaign .body {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-campaign .body .form-box {
    height: 40px;
    width: 585px;
    max-width: 100%;
}

#new-campaign .body .form-box .uk-form-label {
    font-weight: 600px;
}

#new-campaign .body .form-box .subtitle {
    color: #9f9f9f;
    font-size: 12px;
    margin-bottom: 8px;
}

#new-campaign .body .form-box .uk-input {
    border-radius: 4px;
}

#new-campaign .body .form-box .categories .category {
    border: 1px solid #3e70ff;
    border-color: rgba(62,112,255,0.5);
    color: #3e70ff;
    padding: 4px 12px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;
    text-align: center;
}

#new-campaign .body .form-box .categories .category:hover {
    background:#3e70ff;
    color: #fff;
}

#new-campaign .body .form-box .categories .category.selected {
    background:#3e70ff;
    color: #fff;
}

#new-campaign .body .form-box .cover-photo {
    width: 170px;
    height: 80px;
    text-align: center;
}

.custom-container {
    padding-left: 117px;
    padding-right: 117px;
}

.dashboard-main {
    background-color: #f5f7f8;
    padding-top: 30px;
    height: 100vh;
}

.sidebar-left {
    width: inherit;
    position: fixed;
    background-color: #f5f7f8;
    /* -moz-box-shadow:rgba(29,29,31,0.07) 3px -1px 12px;
    -webkit-box-shadow: rgba(29,29,31,0.07) 3px -1px 12px;
    box-shadow: rgba(29,29,31,0.07) 3px -1px 12px; */
    height: 100%;
    position: fixed;
    border-right: 1px solid #E6E7E9;
    bottom: 0;
    z-index: 1000;
    box-sizing: border-box;
    padding: 40px 23px;
    overflow: auto;
}

.sidebar-left .user-account {
    display: flex;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #eee;
    -moz-box-shadow:rgba(29,29,31,0.07) 0px 1px 0px;
    -webkit-box-shadow: rgba(29,29,31,0.07) 0px 1px 0px;
    box-shadow: rgba(29,29,31,0.07) 0px 1px 0px;;
}

.sidebar-left .user-account .user-thumbnail {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.sidebar-left .user-account .user-info {
    width: 100%;
    flex: 1;
    padding: 10px;
}

.sidebar-left .user-account .user-info .user-name {
    width: 100%;
    font-size: 14px;
    height: 15px;
}

.sidebar-left .user-account .user-info .user-type {
    font-size: 13px;
    color: #999898;
}

.side-navigation {
    padding-top: 15px;
    padding-top: 92px;
}


.side-navigation ul {
    list-style: none;
}

.side-navigation li {
    padding: 10px;
    height: 40px;
}

.side-navigation li a {
    display: flex;
    color: #4A526A;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.side-navigation li a i {
    margin-top: 3px;
}

.side-navigation li span {
    padding-left: 10px;
}

.side-navigation li a:hover {
    text-decoration: none;
    color: #3e70ff;
}

.dashboard-nav {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* padding-top: 10px;
    right: 0; */
    border-bottom: 1px solid #eee;
    background-color: #f5f7f8;
    right: 0;
    left: 0;
    width: auto !important;
    top: 0;
}

.loader {
    background: #ebebeb94;
}

.mt-card {
    border-radius: 4px;
}

.mt-card .header {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.mt-card .header h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.mt-card .body {
    padding: 15px;
}

.dashboard-nav .uk-container {
    height: inherit;
}

.dashboard-nav .account {
    padding: 7px;
    cursor: pointer;
}

.dashboard-nav .account .user-thumbnail {
    width: 40px;
    height: 40px;
    background: #eee;
    border-radius: 50%;
}

.dashboard-nav .account span {
    font-size: 13px;
}

.dashboard-nav .notifications {
    padding: 7px;
    cursor: pointer;
}

.dashboard-nav .notifications .notify {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    width: 40px;
    height: 40px;
}

@media (min-width: 1300px) {
    .dashboard-nav {
        left: 273px;
    }
}

@media (min-width: 1200px) {
    .dashboard-nav {
        left: 250px;
    }
}
@media (min-width: 768px) {
    .dashboard-nav {
        left: 196px !important;
    }
}

@media (min-width: 648px) {
    .dashboard-nav {
        left: 0 !important;
    }
}

.full-width {
    border: 1px solid #eee;
}

.dashboard-main .main {
    padding-top: 48px;
    background-color: #f5f7f8;
}

.container-small {
    max-width: 988px !important;
}

.requests-box {
    border-bottom: 1px solid #eee;
    /* border-radius: 4px; */
    background-color: #fff;
    /* -moz-box-shadow: rgba(29,29,31,0.07) 0 10px 60px;
    -webkit-box-shadow: rgba(29,29,31,0.07) 0 10px 60px;
    box-shadow: rgba(29,29,31,0.07) 0 10px 60px; */
    /* padding-bottom:13px; */
    padding: 13px;
}

.requests-box .request-details {
    display: flex;
}

.requests-box .request-details .request-logo {
    width: 80px;
}


.requests-box .request-details .title {
    padding-left: 12px;
    flex: 3;
}

.requests-box .request-details .title h4 {
    font-size: 13px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: 600;
    margin:0px;
}

.requests-box .request-details .title .tagline {
    font-size: 13px;
}

.requests-box .request-details .title .category {
    width: 57px;
    margin-top: 4px;
    font-size: 11px;
    border: 1px solid #cecece;
    border-radius: 6px;
    background: #eee;
    padding: 4px 8px;
}

.desc-small {
    display: flex;
    font-size: 13px;
    padding-top: 6px;
}

.desc-small div {
    margin-right: 6px;
    font-weight: 600px;
}

.desc-small div i {
    margin-right: 5px;
}

.requests-box .description {
    padding-left: 129px;
}

.requests-box .description i {
    font-size: 13px;
    margin-right: 4px;
}

.requests-box .description span {
    font-size: 13px;
}

.requests-box .request-price-details {
    padding-left: 204px;
    padding-top: 10px;
}

.requests-box .request-price-details .price {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.range-slider {
    width: 100% !important;
}

.requests-box .request-price-details hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.requests-box .request-price-details .available-slots {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.uk-subnav-pill>.uk-active>a {
    background-color: transparent !important;
    color: #333 !important;
    border-bottom: 2px solid #187feb;
}

.uk-subnav-pill a {
    text-transform: none !important;
}

.uk-subnav-pill a:hover {
    background: none !important;
    border-bottom: 2px solid #1e87f0 !important;
}

.wallet {
    padding: 15px;
    display: flex;
}

.wallet span {
    font-size: 23px;
}

.wallet .available-balance {
    border-right: 1px solid #eee;
    height: 90px;
}

.wallet .withdraw-balance {
    border-right: 1px solid #eee;
    height: 90px;
}

.user-avatar-dropdown .text {
    margin-left: 10px;
}

.published-articles {
    margin-top: 17px;
}

.article {
    display: flex;
    border-radius: 6px;
    padding: 8px;
    border: 1px solid #e0e0e0;
}

.article .description {
    flex: 1;
    min-width: 0;
}

.article .description .title {
    font-size: 14px;
}

.article .description .written-by {
    font-size: 12px;
    color: #888;
}

.article .actions .view {
    color: #5fbd5f;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
}

.border-blue-left {
    border-left:2px solid #187feb;
}

.border-green-left {
    border-left: 2px solid #66ea38;
}

.border-purple-left {
    border-left: 2px solid #c664f0;
}

.border-yellow-left {
    border-left: 2px solid #decb01;
}

.border-red-left {
    border-left: 2px solid #f01c1c;
}

.assigned-publishers .publisher {
    display: flex;
    border-radius: 6px;
    padding: 8px;
    border: 1px solid #e0e0e0;
}

.assigned-publishers .publisher .profile-image {
    width: 60px;
    height: 60px;
    background: #c0c0c0;
    border-radius: 50%;
}

.assigned-publishers .publisher .profile-image img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.assigned-publishers .publisher .profile-details {
    margin-left:10px;
    padding-top: 8px;
}

.assigned-publishers .publisher .profile-details .title {
    font-weight: 100;
    font-size: 13px;
    margin-top: -3px;
}

.more-details {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 13px;
    width: 94px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    color: #187feb;
}

.open-requests {
    padding-bottom: 15px;
    padding-top: 70px;
}

.startup-box {
    width: 100%;
    border-radius: 4px;
    display: flex;
    height: 85px;
    cursor: pointer;
    border: 1px solid #eee;
}

.startup-box .startup-logo {
    width: 85px;
    height: 85px;
    background: #eee;
}

.startup-box .startup-logo img {
    width: 85px;
    height: 85px;
    border-radius: 4px 0px 0px 4px;
}

.startup-box .startup-details {
    flex: 1;
    position: relative;
    padding-top: 5px !important;
    padding: 10px;
}

.startup-box .startup-details .status {
    position: absolute;
    right: 10px;
    top: -10px;
    color: #fff;
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 13px;
}

.yellow {
    /* box-shadow: 0 5px 15px rgba(0,0,0,.08); */
    background: #FFCE00;
}

.red {
    background: #fc3434e0;
}

.black {
    background: #262228;
}

.green {
    background: #007849;
}

.blue {
    background: #0375B4;
}

.purple {
    background: #A239CA;
}

.startup-box .startup-details .startup-name {
    font-size: 18px;
    font-weight: 300;
}

.startup-box .startup-details .startup-tagline {
    margin-top: -5px;
}

.startup-box .startup-details .startup-tagline span {
    font-size: 12px;
}

.startup-box .startup-details .full {
    display: flex;
    margin-top: 1px;
}

.startup-box .startup-details .full .startup-categories {
    display: flex;
}

.startup-box .startup-details .full .startup-categories .category {
    border: 1px solid #e3e2e2;
    background: #f8f8f8;
    height: 22px;
    font-size: 10px;
    cursor: pointer;
    padding: 0px 5px;
    text-transform: uppercase;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startup-box .startup-details .full .startup-categories .remaning-category {
    padding: 3px;
    font-size: 13px;
}

.startup-box .startup-details .full .actions {
    flex: 1;
    position: relative;
}

.startup-box .startup-details .full .actions .get-it {
    position: absolute;
    right: 0;
    border: 1px solid #e8e8e8;
    background: #f8f8f8;
    height: 22px;
    font-size: 10px;
    cursor: pointer;
    padding: 0px 5px;
    text-transform: uppercase;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startup-box .startup-details .full .actions .get-it a {
    color: inherit;
}

.startup-box .startup-details .full .actions .get-it a:hover {
    text-decoration: none;
    color: inherit;
}


#product-modal .uk-modal-dialog {
    height: 500px;
    display: flex;
    width: max-content;
    border-radius: 5px;
    background: #f9f9f9;
}

#product-modal .product-side {
    border-right: 1px solid #eee;
    padding: 10px;
    /* background: #3e70ff; */
}

#product-modal .product-side .product-logo {
    width: 65px;
    height: 65px;
    background: #eee;
}

#product-modal .product-side .product-logo img {
    width: inherit;
    height: inherit;
}

#product-modal .product-side .actions {
    padding-top:65px;
}



#product-modal .product-side .actions .get-it span.numbers {
    display: flex;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
}

#product-modal .product-side .actions .get-it .get-button {
    display: flex;
    border: 1px solid #eee;
    font-size: 13px;
    padding: 4px 4px;
    color: inherit;
    margin-top: 18px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

#product-modal .product-side .actions .get-it .get-button:hover {
    text-decoration: none;
}




#product-modal .product-side .actions .views span {
    display: flex;
    justify-content: center;
}

#product-modal .product-side .actions .views .eye {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 17px;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
}

#product-modal .product-side .actions .views span:nth-child(1) {
    font-size: 13px;
    font-weight: 600;
}

#product-modal .product-side .actions .t-s {
    margin-top: 18px;
}

#product-modal .product-side .actions .t-s .numbers {
    display: block;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
}

#product-modal .product-side .actions .t-s .t-w {
    display: flex;
    justify-content: center;
    color: #00aced;
    cursor: pointer;
    font-size: 17px;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
}

#product-modal .product-side .actions .tw-share .tw:hover {
    background: #00aced;
    color: #fff;
    border: 1px solid #00aced;
}

#product-modal .product-details {
    padding: 10px;
    flex:1;
}

#product-modal .product-details .product-name {
    font-size: 18px;
}

#product-modal .product-details .product-name a {
    color: #000;
}

#product-modal .product-details .product-tagline {
    font-size: 13px;
}

#product-modal .product-details .full {
    display: flex;
    margin-top: 3px;
}

#product-modal .product-details .full .product-categories {
    display: flex;
}

#product-modal .product-details .full .product-categories .category {
    border: 1px solid #e3e2e2;
    background: #f8f8f8;
    margin-right: 5px;
    height: 22px;
    font-size: 10px;
    cursor: pointer;
    padding: 0px 5px;
    text-transform: uppercase;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uk-modal {
    transition: none;
}

.uk-modal .uk-modal-dialog {
    transition: none;
}

#product-modal .product-details .product-main-picture {
    border: 1px solid #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    height: 314px;
}

#product-modal .product-details .product-main-picture .product-main-placeholder {
    width: 100%;
    height: 100%;
    background: #eee;
}

#product-modal .product-details .product-main-picture .product-main-placeholder img {
    height: inherit;
}

#welcome-modal .channel-picture-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.channel-picture-box .channel-picture {
    width: 85px;
    cursor: pointer;
    height: 85px;
    position: relative;
}

.channel-picture-box .channel-picture.cover-photo {
    max-width: 100%;
}

.channel-picture-box .channel-picture:hover > .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.channel-picture-box .channel-picture .overlay {
    position: absolute;
    top: 0;
    display: none;
    background: rgba(0, 0, 0, 0.64);
    width: inherit;
    height: inherit;
}

.channel-picture-box .channel-picture .overlay span {
    color: #fff;
    font-size: 15px;
}

.uk-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.requests {
    margin-top: 30px;
}

.requests .request-time {
    margin: 10px;
    margin-left: 0;
    margin-top: 22px;
}

.filter .uk-select {
    height: 34px;
    font-size: 13px;
    border-radius: 6px;
}

.uk-modal-close-outside {
    background: transparent;
    border: none;
    cursor: pointer;
}

.uk-modal-close-outside svg line {
  stroke: #fff;
}

#tweet-product .uk-modal-body {
    padding: 0px;
}

#tweet-product .uk-textarea {
    border: none;
}

#tweet-product .uk-modal-dialog {
    width: 539px;
}

.twitter-user {
    border-radius: 50%;
    margin: 10px 0px 0px 10px;
    width: 36px;
}

#payouts {
    margin-top: 10px;
}

.mk-card {
    height: 100px;
    padding: 10px;
    border-radius: 5px;
}

.mk-card .today {
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 2px;
}

.mk-card .number {
    color: #fff;
    display: block;
    font-size: 22px;
}

.mk-card .date {
    color: #fff;
    display: block;
    margin-top: 13px;
    font-size: 12px;
}

.mk-card .icon svg {
    width: 83px;
    height: 63px;
    margin-top: 7px;
}

.mk-card.yellow {
    /* box-shadow: 0 5px 15px rgba(0,0,0,.08); */
    background: #FFCE00;
}

.mk-card.black {
    background: #262228;
}

.mk-card.green {
    background: #007849;
}

.mk-card.blue {
    background: #0375B4;
}

.mk-card.purple {
    background: #A239CA;
}

.t {
    position: relative;
    margin-top: 20px;
    display: block;
}

.t h4 {
    margin-bottom: 0;
}

.t .tweets-loading {
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    padding-top: 33px;
    margin-top: 23px;
    bottom: 0;
    right: 0;
    background: #fff;
}

.t .t-loading span {
    display: block;
}

.list-requests {
    margin-top: 30px;
}

.uk-notification-message {
    font-size: 20px;
}

#how-it-works-steps {
    padding: 30px 0 30px 0;
}

.steps .step {
    position: relative;
}

.steps .step .step-circle {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
}

.steps .step .step-circle .step-inner-circle {
    width: 58px;
    height: 58px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 29px;
}

.steps .step:first-child .step-bar-left, .steps .step:last-child .step-bar-right {
    display: none;
}

.steps .step .step-bar-left {
    left: 0;
    right: 59%;
}

.steps .step .step-bar-right {
    right: 0;
    left: 62%;
}

/* @media (min-width: 768px) {
    .steps .step .step-bar-left, .steps .step .step-bar-right {
        display: none;
    }
} */

@media (max-width: 959px) {
    .steps .step .step-bar-left, .steps .step .step-bar-right {
        display: none;
    }
}


.steps .step .step-bar-left, .steps .step .step-bar-right {
    height: 1px;
    top: 32px;
    position: absolute;
    border-top: 1px solid #666;
}

.steps .step .step-desc {
    margin-left: auto;
    width: 285px;
    text-align: center;
    margin-right: auto;
}

.steps .step .step-desc h5 {
    margin: 0;
    margin-top: 10px;
    font-size: 19px;
}
.steps .step .step-desc p {
    margin: 0;
    font-size: 14px;
}

#features {
    padding: 60px 0 60px 0;
}

#features .feature-list .feature {
    display: flex;
}

#features .feature-list .feature .feature-icon {
    flex: 0 0 auto;
}

.text-blue {
    color: #3e70ff !important;  
}

.text-red {
    color: #e6375a !important;
}

.text-green {
    color: #2ecc40 !important;
}

.bg-blue {
    background: #3e70ff;  
}

.bg-red {
    background: #e6375a;
}

.bg-green {
    background: #2ecc40;
}

.border-blue {
    border-color: #3e70ff;  
}

.border-red {
    border-color: #e6375a;
}

.border-green {
    border-color: #2ecc40;
}

#features .feature-list .feature .feature-desc {
    margin-left: 10px;
    width: 300px;
}

#features .feature-list .feature .feature-desc h4 {
    font-size: calc(.2027vw + 14.35135px);
    margin-bottom: 10px;
}

#features .feature-list .feature .feature-desc p {
    margin: 0;
    color: #868e96;
}

.floating {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    }
  
  @keyframes floating {
    from {
      transform: translate(0, 0px); }
    65% {
      transform: translate(0, 8px); }
    to {
      transform: translate(0, 0px); } }


.important-notice {
    margin-top: 10px;
}

.important-notice ul {
    margin-top: 0px;
    font-size: 14px;
}

#get-started-section {
    width: 100%;
    background: #f8f8f8;
    padding: 37px 0px;
    text-align: center;
}

#get-started-section h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 29px;
}

footer {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

footer .footer-link {
    text-decoration: none;
    opacity: 0.65;
    font-family: 'Rubik', sans-serif;
    color: #333;
    font-size: 13px;
    margin-left: 15px;
}

footer .footer-link.home {
    opacity: 1;
}

.uk-logo {
    font-family: 'Rubik', sans-serif;
}

.twitter-tweet {
    border: 1px solid #e1e8ed;
    padding: 15px;
    border-radius: 4px;
}

.twitter-tweet .tweet-header {
    height: 50px;
    display: flex;
    display: -webkit-flex;
}

.twitter-tweet .tweet-header .twitter-user-avatar img {
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.tweet-header .screen-name {
    padding: 0px 5px;
}

.tweet-header .screen-name span {
    display: block;
}

.tweet-header .screen-name .name {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.tweet-header .twitter-logo {
    margin-left: auto;
    color: #00aced;
}

.tweet-header .screen-name .user-name {
    font-size: 12px;
    margin-top: -3px;
}

.tweet-body {
    font-size: 14px;
}

.uk-notification-message {
    width: 346px;
    z-index: inherit;
    font-size: 16px;
}

.uk-notification.uk-notification-bottom-left {
    z-index: 50000;
}

#t-s-modal .uk-modal-dialog {
    height: 150px;
    width: 366px;
    border-radius: 76px;
}

#t-s-modal .uk-modal-dialog .icon {
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
}

#t-s-modal .uk-modal-dialog .icon svg {
    width: inherit;
    height: inherit;
    fill: #40ca40;
}

#t-s-modal .uk-modal-dialog h3 {
    margin-bottom: -8px;
    font-family: "Rubik", sans-serif;
}

#t-s-modal .uk-modal-dialog span {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}


